---
swagger: '2.0'
info:
  version: '0.5'
  title: A JSON Schema to represent the internal service of TIQ
host: internal.talentiq.co
basePath: "/v1"
schemes:
- http
- https
consumes:
- application/json
produces:
- application/json
paths:
  "/employee/path":
    post:
      description: authentication route for dashboard
      consumes:
      - application/x-www-form-urlencoded
      parameters:
      - name: email
        in: formData
        type: string
        format: email
        required: true
      - name: password
        in: formData
        type: string
        format: password
        required: true
      responses:
        '200':
          description: logged in ok
          headers:
            X-Employee-Verfication:
              type: boolean
        default:
          description: All other responses are seen as errors
          headers:
            X-Employee-Verfication:
              type: boolean
          schema:
            "$ref": "#/definitions/errors"
  "/employee":
    get:
      description: fetches an employee record based on employee id (eid)
      produces:
      - application/json
      parameters:
      - in: query
        name: eid
        required: true
        type: integer
      responses:
        default:
          "$ref": "#/responses/EmployeeResponse"
    post:
      description: creates an employee record
      parameters:
      - in: body
        name: body
        required: true
        schema:
          "$ref": "#/definitions/employee"
      responses:
        default:
          "$ref": "#/responses/EmployeeResponse"
    put:
      description: updates existing employee
      parameters:
      - in: body
        name: body
        required: true
        schema:
          "$ref": "#/definitions/employee"
      responses:
        default:
          "$ref": "#/responses/EmployeeResponse"
    delete:
      description: soft deletes employee record
      parameters:
      - in: query
        name: employee_key
        required: true
        type: string
      responses:
        default:
          "$ref": "#/responses/EmployeeResponse"
  "/customer":
    get:
      description: fetches customer data based on apikey
      consumes:
      - text/plain
      parameters:
      - in: query
        name: cid
        type: integer
      - in: query
        name: apikey
        type: string
        format: uuid
      responses:
        default:
          "$ref": "#/responses/CustomerResponse"
    post:
      description: creates a new customer
      parameters:
      - in: body
        name: body
        required: true
        schema:
          "$ref": "#/definitions/customer"
      responses:
        default:
          "$ref": "#/responses/CustomerResponse"
    put:
      description: creates a new customer
      parameters:
      - in: body
        name: body
        required: true
        schema:
          "$ref": "#/definitions/customer"
      responses:
        default:
          "$ref": "#/responses/CustomerResponse"
    delete:
      description: fetches customer data based on apikey
      consumes:
      - text/plain
      parameters:
      - in: query
        name: customer_key
        required: true
        type: string
        minLength: 1
      responses:
        default:
          "$ref": "#/responses/CustomerResponse"
responses:
  EmployeeResponse:
    description: This response is used for employee group routes
    headers:
      STATUS:
        type: integer
      X-Employee-Verfication:
        type: boolean
    schema:
      "$ref": "#/definitions/EmployeeResponse"
  CustomerResponse:
    description: This response is used for employee group routes
    headers:
      STATUS:
        type: integer
      X-Employee-Verfication:
        type: boolean
    schema:
      "$ref": "#/definitions/CustomerResponse"
definitions:
  customer_key:
    type: object
    required:
    - total_limit
    - date_limit
    - rate_limit
    properties:
      total_limit:
        type: integer
        format: int64
      date_limit:
        type: string
        format: dateTime
      rate_limit:
        type: integer
        format: int64
      key:
        type: string
  employee:
    type: object
    required:
    - email
    - name
    - active
    - apikey
    - management
    properties:
      eid:
        type: integer
      email:
        type: string
        format: email
      active:
        type: boolean
      apikey:
        type: string
      management:
        type: boolean
      password:
        type: string
        format: password
      confirmPassword:
        type: string
        format: password
  customer:
    type: object
    required:
    - name
    - email
    - api_key
    - fields
    properties:
      name:
        type: string
        minLength: 5
        maxLength: 20
      api_key:
        "$ref": "#/definitions/customer_key"
      email:
        type: string
        format: email
      active:
        type: boolean
      date:
        type: string
        format: dateTime
      fields:
        type: array
        maxItems: 33
        minItems: 1
        items:
          type: integer
  CustomerResponse:
    type: object
    required:
    - customer
    - date
    - key_used
    properties:
      error:
        "$ref": "#/definitions/errors"
      date:
        type: string
        format: dateTime
      key_used:
        type: string
        format: uuid
      customer:
        "$ref": "#/definitions/customer"
  EmployeeResponse:
    type: object
    required:
    - employee
    - date
    - key_used
    properties:
      error:
        "$ref": "#/definitions/errors"
      date:
        type: string
        format: dateTime
      key_used:
        type: string
        format: uuid
      employee:
        "$ref": "#/definitions/employee"
  errors:
    type: object
    required:
    - error
    - status
    - validationErrors
    properties:
      error:
        type: string
      status:
        type: integer
      validationErrors:
        type: array
        uniqueItems: true
        items:
          type: string
