---
swagger: '2.0'
info:
  version: 0.1.0
  title: Talent IQ Candidate API
  contact:
    name: TalentIQ Support
    email: support@talentiq.co
  description: |
    # Introduction
    Welcome to TalentIQ’s API! You can use the API to programmatically interact with the TalentIQ data set for the purpose of data enrichment, updates,
    lead gen, form-fill, or anything else you can think of. The API is organized around REST . All requests return JSON, and HTTP are used to indicate errors.
    All requests should be made over SSL. All request and response bodies, including errors, are encoded in JSON.

    The endpoint of the API is:
    [https://api.talentiq.co/v2/person](https://api.talentiq.co/v2/person)

    If you or anyone on your team has any questions, feature requests, or suggestions, please feel free to reach out to us anytime at [support@talentiq.co](support@talentiq.co).

host: api.talentiq.co
basePath: "/v2"
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
definitions:
  response:
    type: objects
    required:
      - error
      - message
      - likelihood
      - status
      - requestId
      - person
    properties:
      error:
        type: string
        message: string
      likelihood:
        type: integer
        format: int
      status:
        type: integer
        format: int
      requestId:
        type: string

responses:
  NotFound:
    description: Entity Not Found.
    schema:
      $ref: '#/definitions/response'
  '200':
    description: Successful response, Candidate Found
    schema:
      $ref: '#/definitions/response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
  '202':
    description: Successful response, Candidate Found
    schema:
      $ref: '#/definitions/response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
  '206':
    description: Successful response
    schema:
      $ref: '#/definitions/response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
  '401':
    description: Unauthorized or Invalid Key.
    schema:
      $ref: '#/definitions/response'
  '403':
    description: Successful response
    schema:
      $ref: '#/definitions/response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
  '404':
    description: Not Found
    schema:
      $ref: '#/definitions/response'
  '405':
    description: Method Not Allowed
    schema:
      $ref: '#/definitions/response'
  '422':
    description: Successful response
    schema:
      $ref: '#/definitions/response'
  '429':
    description: Successful response
    schema:
      $ref: '#/definitions/response'
    headers:
      X-Rate-Limit-Limit:
        description: The number of allowed requests in the current period
        type: integer
      X-Rate-Limit-Remaining:
        description: The number of remaining requests in the current period
        type: integer
      X-Rate-Limit-Reset:
        description: The number of seconds left in the current period
        type: integer
  '500':
    description: Successful response
    schema:
      $ref: '#/definitions/response'
  '503':
    description: Service Unreachable
    schema:
      $ref: '#/definitions/response'
